{<extends 'base.html'>}

{<block name=content>}
<div class="index-main comWidth">
	<div class="swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide"><a href='#'><img src='resource/example/banner1.png' border='0'/></a></div>
			<div class="swiper-slide"><a href='#'><img src='resource/example/banner2.png' border='0' /></a></div>
			<div class="swiper-slide"><a href='#'><img src='resource/example/banner3.png' border='0' /></a></div>
		</div>
		<div class="swiper-pagination"></div>
	</div>
	<div class="index-more">
		<ul class="index-more-list">
			<li class="index-more-item">
				<a href="#">
					<div class="index-more-img">
						<img src="resource/example/banner1.png"/>
					</div>
					<div class="index-more-text">如何快速接入微信支付？了解最新的支付技术接口？微信商户后台操</div>
				</a>
			</li>
			<li class="index-more-item">
				<a href="#">
					<div class="index-more-img">
						<img src="resource/example/banner2.png"/>
					</div>
					<div class="index-more-text">如何快速接入微信支付？了解最新的支付技术接口？微信商户后台操</div>
				</a>
			</li>
			<li class="index-more-item">
				<a href="#">
					<div class="index-more-img">
						<img src="resource/example/banner3.png"/>
					</div>
					<div class="index-more-text">如何快速接入微信支付？了解最新的支付技术接口？微信商户后台操</div>
				</a>
			</li>
			<li class="index-more-item">
				<a href="#">
					<div class="index-more-img">
						<img src="resource/example/banner2.png"/>
					</div>
					<div class="index-more-text">如何快速接入微信支付？了解最新的支付技术接口？微信商户后台操</div>
				</a>
			</li>
			<li class="index-more-item">
				<div class="index-more-img">
					<img src="resource/example/banner1.png"/>
				</div>
				<div class="index-more-text">如何快速接入微信支付？了解最新的支付技术接口？微信商户后台操</div>
			</li>
			<li class="index-more-item">
				<a href="#">
					<div class="index-more-img">
						<img src="resource/example/banner3.png"/>
					</div>
					<div class="index-more-text">如何快速接入微信支付？了解最新的支付技术接口？微信商户后台操</div>
				</a>
			</li>
			<li class="index-more-item">
				<div class="index-more-img">
					<img src="resource/example/banner1.png"/>
				</div>
				<div class="index-more-text">如何快速接入微信支付？了解最新的支付技术接口？微信商户后台操</div>
			</li>
			<li class="index-more-item">
				<a href="#">
					<div class="index-more-img">
						<img src="resource/example/banner3.png"/>
					</div>
					<div class="index-more-text">如何快速接入微信支付？了解最新的支付技术接口？微信商户后台操</div>
				</a>
			</li>
			<li class="index-more-item">
				<a href="#">
					<div class="index-more-img">
						<img src="resource/example/banner2.png"/>
					</div>
					<div class="index-more-text">如何快速接入微信支付？了解最新的支付技术接口？微信商户后台操</div>
				</a>
			</li>
			<li class="index-more-item">
				<div class="index-more-img">
					<img src="resource/example/banner1.png"/>
				</div>
				<div class="index-more-text">如何快速接入微信支付？了解最新的支付技术接口？微信商户后台操</div>
			</li>
			<li class="index-more-item">
				<a href="#">
					<div class="index-more-img">
						<img src="resource/example/banner3.png"/>
					</div>
					<div class="index-more-text">如何快速接入微信支付？了解最新的支付技术接口？微信商户后台操</div>
				</a>
			</li>
			<li class="index-more-item">
				<a href="#">
					<div class="index-more-img">
						<img src="resource/example/banner2.png"/>
					</div>
					<div class="index-more-text">如何快速接入微信支付？了解最新的支付技术接口？微信商户后台操</div>
				</a>
			</li>
			<li class="index-more-item">
				<div class="index-more-img">
					<img src="resource/example/banner1.png"/>
				</div>
				<div class="index-more-text">如何快速接入微信支付？了解最新的支付技术接口？微信商户后台操</div>
			</li>
			<li class="index-more-item">
				<a href="#">
					<div class="index-more-img">
						<img src="resource/example/banner3.png"/>
					</div>
					<div class="index-more-text">如何快速接入微信支付？了解最新的支付技术接口？微信商户后台操</div>
				</a>
			</li>
		</ul>
	</div>
</div>
{</block>}

{<block name=javascript>}
<script language="javascript">
	/*banner滚动图片*/
	var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        slidesPerView: 1,
        loop: true,
        autoplay : 3000
    });
</script>
{</block>}