{<extends 'base.html'>}

{<block name=content>}
<div class="ect-bg">
	<header class="ect-header ect-margin-tb ect-margin-lr text-center ect-bg">
		<a href="{<spUrl c=relation a=index>}" class="pull-left glyphicon glyphicon-menu-left"></a>
		<span>星座好友</span>
	</header>
</div>
<div class="container">
	<div class="row" style="padding-left: -5px;padding-right: -5px;">
		{<foreach $relationlist as $index => $relation>}
		<div class="col-xs-3 col-sm-3 start-sign" style="padding-right: 5px;padding-left: 5px;">
			<p class="text-center">
				<img class="img-thumbnail" style="padding:1px;" data-url="{<$relation.wx_headimage>}"/>
			</p>
			<p class="text-center" style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">{<$relation.wx_name>}</p>
			<p class="text-center"><span class="label label-primary">{<$relation.uplevel|format_uplevel>}<span></p>
		</div>
		{</foreach>}
	</div>
</div>
<div class="ect-deepbottom"></div>
{</block>}

{<block name=javascript>}
<script language="javascript">
$(document).ready(function(){
	$(".img-thumbnail").each(function(idx, obj) {
		$(obj).attr("src", $(obj).data("url"));
	});
});
</script>
{</block>}