<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link href="resource/css/style.css" rel="stylesheet" type="text/css" />
<script language="JavaScript" src="resource/js/jquery.js"></script>
<script type="text/javascript">$(function(){$('.menuson li').click(function(e){$(".menuson li.active").removeClass("active");$(this).addClass("active")});$('.title').click(function(){var $ul=$(this).next('ul');$('dd').find('.menuson').slideUp();if($ul.is(':visible')){$(this).next('.menuson').slideUp()}else{$(this).next('.menuson').slideDown()}})})</script>
</head>
<body style="background:#f0f9fd;">
	<div class="lefttop"></div>
	<dl class="leftmenu">
		<dd>
			<div class="title">
				<span><img src="resource/images/leftico01.png"/></span>后台管理
			</div>
			<ul class="menuson">
			<li><cite></cite><a href="{<spUrl c=member a=index>}" target="rightFrame">会员列表</a><i></i></li>
			<li><cite></cite><a href="{<spUrl c=relation a=index>}" target="rightFrame">推荐关系</a><i></i></li>
			<li><cite></cite><a href="{<spUrl c=salary a=index>}" target="rightFrame">工资表</a><i></i></li>
			<li><cite></cite><a href="{<spUrl c=recharge a=index>}" target="rightFrame">积分充值</a><i></i></li>
			<li><cite></cite><a href="{<spUrl c=fenhong a=index>}" target="rightFrame">管理奖发放</a><i></i></li>
			<li><cite></cite><a href="{<spUrl c=paper a=index>}" target="rightFrame">订单管理</a><i></i></li>
			</ul>
		</dd>
	</dl>
</body>
</html>
