@charset "utf-8";
/* CSS Document */

a{
	text-decoration:none;
}
a{color:#666;}
a:hover{color:#cc0000; text-decoration:none;}
.black{color:#333;}
.red{color:#e60012;}
.bluea{color:#1e638e;}
.bluebg{
width:100%;
height:100%;
float:left;
background:url(../images/blueling.jpg) repeat-x left top #148DB8;
}
.mem_tit{
width:100%;
height:auto;
float:left;
text-align:center;
font-size:24px;
line-height:35px;
margin-top:31px;
color:#fff;
padding-bottom: 25px;
}
.mem_log{
padding:0px 30px;}
.log_inp{
width:100%;
height:31px;
float: left;
margin-top:13px;
}
.log_inp .l{
width:1%;
height:31px;
background:url(../images/inp_l.png) no-repeat left top;
float: left;
display:inline-block;
}
.log_inp .r{
width:1%;
height:31px;
background:url(../images/inp_r.png) no-repeat right top;
float: left;
display:inline-block;
}
.log_inp .m{
width:98%;
height:31px;
float:left;
background:url(../images/log_inpbg.jpg) repeat-x left top;
}
.log_inp .txt{
float: left;
font-size:16px;
line-height:31px;
color:#333;
}
.inputwrap {
position: relative;
margin-left:70px;
}
.inputwrap input {
padding: 0 3px;
width: 100%;
height:31px;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
border: none;
font-size:14px;
line-height:31px;
background:none;
font-family:"黑体";
}
.yzm{
width:19%;
height:31px;
text-align:center;
margin-left:1%;
background:#fff;
float:left;
margin-top:13px;
line-height:31px;
}
.w100 {width:100%;}
.fl{float:left;}
.mem_icon{
width:100%;
height:43px;
float:left;
margin-top:27px;
}
.mem_icon .l{
width:3%;
height:43px;
background:url(../images/mem_icon_l.png) no-repeat left top;
float: left;
display:inline-block;
}
.mem_icon .m{
width:94%;
height:43px;
float:left;
background:url(../images/mem_icon_m.png) repeat-x left top;
}
.mem_icon .m input{
width:100%;
height:43px;
background:none;
border:none;
line-height:43px;
font-size:20px;
cursor:pointer;
font-family:"黑体";
color:#333;
}
.mem_icon .r{
width:3%;
height:43px;
background:url(../images/mem_icon_r.png) no-repeat right top;
float: left;
display:inline-block;
}
.manage_tit{
width:100%;
height:45px;
float:left;
background:url(../images/manage_tit.jpg) repeat-x left top;
}
.manage_tit .return{
width:50px;
height:29px;
display:inline-block;
float:left;
background:url(../images/return.png) no-repeat left top;
margin-top:8px;
margin-left:8px;
}
.manage_tit .linel{
width:2px;
height:31px;
display:inline-block;
float:left;
background:url(../images/line.jpg) no-repeat left top;
margin-left:10px;
margin-top:7px;
}
.manage_tit strong{
float:left;
background:url(../images/manage_tit_s.png) no-repeat left 6px;
padding-left:35px;
margin-left:10px;
display:inline;
line-height:45px;
font-size:18px;
color:#fff;
}
.manage_tit a.exit{
float:right;
line-height:45px;
font-size:16px;
color:#fff;
}
.manage_tit a.exit:hover{color:#fff600; margin-right:10px;}
.mem_info{
width:100%;
height:auto;
float:left;
}
.mem_info p{
width:49%;
height:43px;
float:left;
line-height:43px;
border-bottom:1px solid #E4E4E4;
font-size:16px;
color:#707070;
padding-left:1%;
}
.mem_info02{
width:100%;
height:auto;
float:left;
}
.mem_info02 p{
width:99%;
height:43px;
float:left;
line-height:43px;
border-bottom:1px solid #E4E4E4;
font-size:16px;
color:#707070;
padding-left:1%;
}
.mem_menu{
width:98%;
margin:0px 1%;
border:1px solid #D1DCDE;
background:#F7F7F7;
float:left;
margin-top:10px;
-moz-border-radius: 15px; 
-webkit-border-radius: 15px;
border-radius:15px;  
}
.mem_menu li{
width:100%;
height:43px;
float:left;
border-bottom:1px solid #D1DCDE;
line-height:43px;
}
.mem_menu li a{
padding:0px 11px;
display:block;
color:#000;
background:url(../images/sj_01.jpg) no-repeat 99% center;}
.mem_menu li.cur{
background:#14B9D7;
color:#fff;
}
.mem_menu li.cur a{
color:#fff;
background:url(../images/sj_02.jpg) no-repeat 99% center;}
.mem_menu .bor0{border:0px;}
.menu_footer{
width:100%;
height:48px;
float:left;
border-top:1px solid #D9D9D9;
background:url(../images/memu_footerbg.jpg) repeat-x left top;
z-index:999; position:fixed; bottom:0; left:0;_position:absolute;
_top: expression(documentElement.scrollTop + documentElement.clientHeight-this.offsetHeight);overflow:visible;
}
.menu_footer li.wid20{
width:20%;}
.menu_footer li{
width:25%;
height:48px;
float:left;
font-size:12px;
background:url(../images/line02.jpg) no-repeat right top;
}
.menu_footer li.bac_no{background:none;}
.menu_footer li a{
width:99%;
height:16px;
float:left;
line-height:16px;
text-align:center;
color:#333;
padding-top:32px;}
.menu_footer li:hover{
background:url(../images/menu_cur.png) no-repeat center top;
}
.menu_footer li:hover a{
border-right:1px solid #ACBBBE;
}
.menu_footer li a:hover{color:#fff;}
.menu_footer li a.xxgl{
background:url(../images/menu01.png) no-repeat center 3px;
}
.menu_footer li a.xxgl:hover{
background:url(../images/menu01_cur.png) no-repeat center 3px;
}
.menu_footer li.cur a.xxgl{
background:url(../images/menu01_cur.png) no-repeat center 3px;
}
.menu_footer li a.hygl{
background:url(../images/hygl.png) no-repeat center 6px;
}
.menu_footer li a.hygl:hover{
background:url(../images/hygl_cur.png) no-repeat center 6px;
}
.menu_footer li.cur a.hygl{
background:url(../images/hygl_cur.png) no-repeat center 6px;
}
.menu_footer li a.dzhb{
background:url(../images/dzhb.png) no-repeat center 6px;
}
.menu_footer li a.dzhb:hover{
background:url(../images/dzhb_cur.png) no-repeat center 6px;
}
.menu_footer li.cur a.dzhb{
background:url(../images/dzhb_cur.png) no-repeat center 6px;
}
.menu_footer li a.xtgl{
background:url(../images/xtgl.png) no-repeat center 6px;
}
.menu_footer li a.xtgl:hover{
background:url(../images/xtgl_cur.png) no-repeat center 6px;
}
.menu_footer li.cur a.xtgl{
background:url(../images/xtgl_cur.png) no-repeat center 6px;
}
.menu_footer li a.hyzq{
background:url(../images/menu02.png) no-repeat center 3px;
}
.menu_footer li a.hyzq:hover{
background:url(../images/menu02_cur.png) no-repeat center 3px;
}
.menu_footer li.cur a.hyzq{
background:url(../images/menu02_cur.png) no-repeat center 3px;
}
.menu_footer li a.hyyw{
background:url(../images/menu03.png) no-repeat center 3px;
}
.menu_footer li a.hyyw:hover{
background:url(../images/menu03_cur.png) no-repeat center 3px;
}
.menu_footer li.cur a.hyyw{
background:url(../images/menu03_cur.png) no-repeat center 3px;
}
.menu_footer li a.cwgl{
background:url(../images/menu04.png) no-repeat center 3px;
}
.menu_footer li a.cwgl:hover{
background:url(../images/menu04_cur.png) no-repeat center 3px;
}
.menu_footer li.cur a.cwgl{
background:url(../images/menu04_cur.png) no-repeat center 3px;
}
.menu_footer li.cur{
background:url(../images/menu_cur.png) no-repeat center top;
}
.menu_footer li.cur a{border-right:1px solid #ACBBBE;}
.menu_footer li.cur a{color:#fff;}
.paw_tit{
width:100%;
height:33px;
float:left;
background:url(../images/line03.jpg) repeat-x left top;
}
.paw_tit a{
width:50%;
height:33px;
display:block;
line-height:33px;
text-align:center;
float:left;
font-size:16px;
color:#333;
background:url(../images/line05.jpg) no-repeat left top;
}
.paw_tit a.cur{
color:#12a9cc;
background:url(../images/line04.jpg) repeat-x left bottom;
}
.paw_change{
width:100%;
height:auto;
float:left;
}
.paw_change li{
width:100%;
height:auto;
float:left;
padding-bottom:13px;
background:url(../images/line06.jpg) repeat-x left bottom;
}
.paw_change p{
width:98%;
height:auto;
float:left;
padding-left:1%;
line-height:26px;
font-size:16px;
color:#707070;
margin-top:8px;
}
.paw_change p .paw_inp{
width:100%;
height:30px;
border:1px solid #CDCDCD;
-moz-border-radius:8px; 
-webkit-border-radius:8px;
border-radius:8px;
background:url(../images/line07.jpg) repeat-x left -1px #fff;
}
.paw_change span.gray_s{
font-size:2px;
color:#aaa;
}
.paw_change span.red_s{
font-size:14px;
color:#e60012;
}
.paw_icon{
width:100%;
height:44px;
float:left;
text-align:center;
margin-top:21px;
}
.paw_icon input{
width:130px;
height:44px;
border:none;
cursor:pointer;
margin-left:3px;
margin-right:3px;}
.paw_icon input.sub{
background:url(../images/sub_icon.jpg) no-repeat left top;}
.paw_icon input.resub{
background:url(../images/resub_icon.jpg) no-repeat left top;}
.paw_icon input.paw_add{
background:url(../images/paw_add.jpg) no-repeat left top;}
.news{
width:98%;
float:left;
margin-left:1%;
display:inline;
margin-top:8px;}
.news .tit{
width:100%;
float:left;
font-size:18px;
color:#333333;
line-height:30px;
}
.news .time{
width:100%;
float:left;
font-size:14px;
color:#707070;
line-height:30px;
}
.news .det{
width:100%;
float:left;
line-height:24px;
font-size:16px;
color:#333333;
}
.message{
width:98%;
float:left;
margin-left:1%;
display:inline;
}
.message li{
width:100%;
float:left;
border:1px solid #E6E6E6;
background:#fff;
-moz-border-radius:8px; 
-webkit-border-radius:8px;
border-radius:8px;
margin-top:10px;
}
.message li .mes_tit{
width:98%;
float:left;
padding-left:1%;
padding-right:1%;
border-bottom:1px solid #E6E6E6;
font-size:16px;
color:#333;
height:42px;
line-height:42px;
}
.message li .time{
float:right;
color:#aaaaaa;
font-size:14px;
}
.message li .blue{
color:#0c7da4;
}
.message li .mes_con{
width:98%;
float:left;
padding-left:1%;
padding-right:1%;
line-height:24px;
font-size:16px;
color:#333333;
padding-top:10px;
padding-bottom:10px;
}
.paw_yzw{
width:98%;
height:30px;
float:left;
margin-left:1%;
display:inline;
border:1px solid #CDCDCD;
-moz-border-radius:8px; 
-webkit-border-radius:8px;
border-radius:8px;
background:url(../images/line07.jpg) repeat-x left -1px #fff;
}
.inputwrap2{
position: relative;
margin-right: 76px;
}
.paw_inp02{
width: 100%;
height:30px;
float:left;
line-height:30px;
margin-right: 76px;
background:none;
border:0px;
}

.paw_yzw .paw_yz{
width:60px;
height:30px;
float:right;
background:url(../images/paw_yzbg.jpg) repeat-x left top;
text-align:center;
line-height:28px;
font-size:16px;
color:#fff;
border:1px solid #CDCDCD;
-moz-border-radius:8px; 
-webkit-border-radius:8px;
border-radius:8px;
}
.dropdown {
width:98%;
height:30px;
float:left;
margin-left:1%;
display:inline;
border:1px solid #D4D4D4;
position: relative;
overflow: hidden;
-moz-border-radius:8px; 
-webkit-border-radius:8px;
border-radius:8px;
background:url(../images/dropdownbg.jpg) repeat-x left top;
}
.dropdown-select {
position: relative;
width: 100%;
margin: 0;
padding: 6px 8px 6px 10px;
height: 28px;
line-height: 14px;
font-size: 12px;
color: #62717a;
text-shadow: 0 1px white;
background: #f2f2f2;
background: rgba(0, 0, 0, 0) !important;
border: 0;
border-radius: 0;
-webkit-appearance: none;
}
.dropdown-select > option {
margin: 3px;
padding: 6px 8px;
text-shadow: none;
background: #fff;
border-radius: 3px;
cursor: pointer;border:1px solid #D2D2D2;
}
.dropdown::before, .dropdown::after {
content: '';
position: absolute;
z-index: 2;
top:0px;
right:0px;
width:34px;
height:32px;
pointer-events: none;
background:url(../images/before.jpg) no-repeat left top;
}
.content{
	width:100%;
float:left;
padding-bottom:67px;}

.bla_bg{
	width:100%;
	height:100%;
	float:left;
	background:#000;
	position:absolute;
	left:0;
	top:0;
	z-index:0;
	filter:alpha(opacity=50);
	opacity:0.5;
}
.bla_kwai{
	width:80%;
	height:auto;
	float:left;
	margin-left:10%;
	display:inline;
	background:#fff;
	border:1px solid #C5C5C5;
	-webkit-box-shadow: 0px 0px 20px #000;
-moz-box-shadow: 0px 0px 20px #000;
box-shadow: 0px 0px 20px #000;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
margin-top:10%;
position:absolute;
z-index:999;
}
.bla_tit{
	width:100%;
	height:42px;
	float:left;
	background:url(../images/gray_dot.jpg) repeat-x left bottom;
}
.bla_tit strong{
	display:block;
	height:42px;
	float:left;
	background:url(../images/blue_dot.jpg) repeat-x left bottom;
	padding-left:12px;
	padding-right:12px;
	line-height:42px;
	font-weight:normal;
	font-size:16px;
}
.bla_tit a.close{
	width:32px;
	height:32px;
	display:block;
	cursor:pointer;
	float:right;
	margin-top:5px;
	margin-right:10px;
	background:url(../images/close.png) no-repeat left top;
}
.bla_con{
	width:100%;
	height:auto;
	float:left;
	text-align:center;
	padding:10px 0px;
}
.bla_con p{
	width:100%;
	height:auto;
	float:left;
	line-height:30px;
	padding:6px 0px;
	font-size:18px;
}
.bla_con .enter_icon{
	width:130px;
	height:44px;
	background:url(../images/enter_icon.jpg) no-repeat left top;
	cursor:pointer;
	border:0px;
}
.mem_search{
	width:100%;
	height:35px;
	float:left;
	border-bottom:1px solid #E8E8E8;
	padding-top:7px;
}
.mem_search .mem_sel{
	width:25%;
	float:left;
}
.mem_search .mem_sea{
	width:73%;
	height:28px;
	float:left;
	margin-left:1%;
	display:inline;
	border:1px solid #C5C5C5;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
background:url(../images/line07.jpg) repeat-x left -1px #fff;
}
.mem_sea_inp{
	background:none;
	border:none;
	height:28px;
	width:100%;
	float:left;
	line-height:28px;
	margin-right:36px;
}
.mem_sea_wai{
	position: relative;
	margin-right:36px;
}
.mem_sea_icon{
	width:36px;
	height:28px;
	float:right;
	background:url(../images/mem_sea_icon.jpg) no-repeat 8px 8px;
	border:0px;
	cursor:pointer;
}
.mem_zshycx{
	width:100%;
	height:auto;
	float:left;
}
.mem_zshycx li{
	width:100%;
	height:42px;
	line-height:42px;
	font-size:16px;
	color:#333;
	float:left;
	border-bottom:1px solid #E8E8E8;
}
.mem_zshycx li .l{
	width:20%;
	height:42px;
	float:left;
	padding-right:5%;
	border-right:1px solid #E8E8E8;
	background:#F5F5F5;
	text-align:right;
}
.mem_zshycx li .r{
	width:65%;
	height:42px;
	float:left;
	padding-left:8%;
}
.mem_zshycx li .mem_oper{
	color:#0c7da4;
}
.mem_page{
	width:100%;
	padding-top:15px;
	padding-bottom:15px;
	text-align:center;
	float:left;
	z-index:999; position:absolute; bottom:50px; left:0;_position:absolute;
_top: expression(documentElement.scrollTop + documentElement.clientHeight-this.offsetHeight);overflow:visible;
}
.mem_page a{
	line-height:26px;
	padding:5px 8px;
	border:1px solid #F5F5F5;
	margin-left:3px;
	margin-right:3px;}
.mem_page a.current{
	background:#DCDCDC;
}
.mem_page span{
	line-height:26px;
	padding:5px 8px;
	border:1px solid #F5F5F5;
	margin-left:3px;
	margin-right:3px;}
	
.mem_tupu{
	width:100%;
	float:left;
	background:url(../images/mem_tupubg.jpg) repeat left top;
}
.filetree{
	margin-left:2%;}
.treeview li.collapsable, .treeview li.expandable {
background-position: 0 -176px;
}
.filetree li {
padding: 3px 0 2px 16px;
}
.treeview li {
background: url(../images/treeview-default-line.gif) 0 -4px no-repeat;
}
.treeview .hitarea {
background: url(../images/treeview-default.gif) -56px -38px no-repeat;
height: 34px;
width: 30px;
margin-left: -8px;
float: left;
cursor: pointer;
margin-top: 8px;
}
.filetree span.folder, .filetree span.file {
padding: 1px 0 1px 10px;
display: block;
height:40px;
line-height:40px;
}
.goog-text-highlight {
background-color: #c9d7f1;
-webkit-box-shadow: 2px 2px 4px #9999aa;
-moz-box-shadow: 2px 2px 4px #9999aa;
box-shadow: 2px 2px 4px #9999aa;
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
position: relative;
}
.treeview li.last {
background-position: 0 -1751px;
}
.hy_txt{
	text-align:center; line-height:35px;
	font-size:16px;
}
.hyxx_txt{
	width:100%;
	height:auto;
	float:left;
	text-align:center;
	line-height:42px;
	font-size:16px;
}
.hyxx_txt li{
	width:100%;
	height:auto;
	float:left;
	border-bottom:1px solid #EDEDED;
}
.hyxx_txt li img{
	margin-top:11px;
}
.txt1{
	width:38%;
	height:42px;
	float:left;
	text-align:right;
	padding-right:2%;
	border-right:1px solid #EDEDED;
}
.txt2{
	width:20%;
	height:42px;
	float:left;
	text-align:center;
	border-right:1px solid #EDEDED;
}
.txt3{
	width:37%;
	height:42px;
	float:left;
	text-align:left;
	padding-left:2%;
}
.aspnet
{
    width:80px;
    float:left;
}